mixin dropdown_date_filtered(title)
    .dropdown_date_filtered
        h3 #{title}
        label
            input.dropdown_date_filtered__input(type="text", placeholder='ДД.ММ.ГГГГ - ДД.ММ.ГГГГ', data-multiple-dates-separator=" - ")