mixin checkbox_slider(text)
    .checkbox_slider
        label.checkbox_slider__switch
            input.checkbox_slider__input(type='checkbox')
            span.checkbox_slider__slider
        span.checkbox_slider__text #{text}