mixin range_slider
    div.range-slider
        div.range-slider__heading
            h3 range slider
            div.range-slider__values
                span.range-slider__values-min
                span.range-slider__values-max
    .slider