@import "../mixins.scss";

.header {
  width: 100%;
  height: 70px;
  padding: 0 140px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &__col-left {}

  &__col-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__nav {

      & ul {
        list-style: none;
      }

      &__item {

        & a {
          text-decoration: none;
          color: $dark-shade50;

          &:first-child {
            font-weight: bold;
            color: $dark-shade75;
          }

          &:not(last-child) {
            margin-right: 28px;
          }

          &:nth-child(3) {
            padding-right: 25px;
            background: url("../images/v_arrow.svg") right no-repeat;
          }
        }
      }
    }

    &__btns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      min-width: 220px;
      margin-left: 30px;
    }

    &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 30px;
      border-left: 1px solid rgba(31, 32, 65, .1);

    }
  }
}