mixin rate_button
    .rate_button
        .rate_button__wrap
            img.rate_button__img(src="../images/star.png", alt="rate button")
            img.rate_button__img(src="../images/star.png", alt="rate button")
            img.rate_button__img(src="../images/star.png", alt="rate button")
            img.rate_button__img(src="../images/star.png", alt="rate button")
            img.rate_button__img(src="../images/star.png", alt="rate button")