extends ../pages/base.pug
include colors-fonts/colors.pug
include colors-fonts/fonts.pug
include form-elements/text_field/text-field.pug
include form-elements/dropdown_rooms/dropdown_rooms
include form-elements/dropdown_guests/dropdown_guests
include form-elements/dropdown_date/dropdown_date
include form-elements/dropdown_date_filtered/dropdown_date_filtered
include form-elements/masked_date_input/masked_date_input
include form-elements/checkbox/checkbox
include form-elements/radio_button/radio_button
include form-elements/checkbox_slider/checkbox_slider
include like_button/like_button
include rate_button/rate_button


block main
    div.colors-fonts
        div.colors
            +color_block('Dark Shade 100%', '#1F2041', '(31, 32, 65, 1)')
            +color_block('Dark Shade 75%', '#1F2041', '(31, 32, 65, .75)')
            +color_block('Dark Shade 50%', '#1F2041', '(31, 32, 65, .50)')
            +color_block('Dark Shade 25%', '#1F2041', '(31, 32, 65, .25)')
            +color_block('Dark Shade 5%', '#1F2041', '(31, 32, 65, .05)')
            +color_block('Purple', '#BC9CFF', '(188,156,255, 1)')
            +color_block('Green', '#6FCF97', '(111,207,151, 1)')
        div.fonts
            +fonts_block

    div.form-elements
        div.form-elements__inputs
            +text-input(text, 'Email', 'text field')
            +dropdown-guests-input('dropdown')
            +dropdown-rooms-input('dropdown')
            +masked_date_input('masked text field')
            +dropdown_date('date dropdown')
            +dropdown_date_filtered('filtered date dropdown')
        div.form-elements__toggle-buttons
            div.checkbox-buttons
                h3 checkbox buttons
                +checkbox('Можно курить', 'smokingAllowed')
                +checkbox('Можно с питомцами', 'petsAllowed')
                +checkbox('Можно пригласить гостей (до 10 человек)', 'guestsAllowed')
            div.radio-buttons
                h3 radio buttons
                .radio-buttons__wrapper
                    +radio_button('Мужчина', 'gender')
                    +radio_button('Женщина', 'gender')
                h3 toggle
                +checkbox_slider('Получать спецпредложения')
            div.like-buttons
                h3 like button
                +like_button(2)
            div.rate-button
                h3 rate button
                +rate_button



