extends ../pages/base.pug
include colors-fonts/colors.pug
include colors-fonts/fonts.pug
include form-elements/text_field/text-field.pug
include form-elements/dropdown_rooms/dropdown_rooms
include form-elements/dropdown_guests/dropdown_guests
include form-elements/dropdown_date/dropdown_date
include form-elements/dropdown_date_filtered/dropdown_date_filtered
include form-elements/masked_date_input/masked_date_input
include form-elements/checkbox/checkbox
include form-elements/radio_button/radio_button
include form-elements/checkbox_slider/checkbox_slider
include form-elements/like_button/like_button
include form-elements/rate_button/rate_button
include form-elements/range_slider/range_slider
include form-elements/buttons/button_filled/button_filled
include form-elements/buttons/button_border/button_border
include form-elements/buttons/button_plain_text/button_plain_text
include form-elements/buttons/button_wide/button_wide
include form-elements/pagination/pagination
include form-elements/checkbox-expandable/checkbox-expandable
include form-elements/rich-checkbox/rich_checkbox
include form-elements/bullet-list/bullet-list
include hotel_benefits/hotel-benefits
include comment/comment
include forms/room-finder/room-finder
include forms/registration/registration
include forms/login/login
include ./header/header-auth
include ./header/header-logged

block header
    +header-auth
    +header-logged


block main
    section.colors-fonts
        div.colors
            +color_block('Dark Shade 100%', '#1F2041', '(31, 32, 65, 1)')
            +color_block('Dark Shade 75%', '#1F2041', '(31, 32, 65, .75)')
            +color_block('Dark Shade 50%', '#1F2041', '(31, 32, 65, .50)')
            +color_block('Dark Shade 25%', '#1F2041', '(31, 32, 65, .25)')
            +color_block('Dark Shade 5%', '#1F2041', '(31, 32, 65, .05)')
            +color_block('Purple', '#BC9CFF', '(188,156,255, 1)')
            +color_block('Green', '#6FCF97', '(111,207,151, 1)')
        div.fonts
            +fonts_block

    section.form-elements
        div.form-elements__inputs
            +text-input(text, 'Email', 'text field')
            +dropdown-guests-input('dropdown')
            +dropdown-rooms-input('dropdown')
            +masked_date_input('masked text field')
            +dropdown_date('date dropdown')
            +dropdown_date_filtered('filtered date dropdown')
        div.form-elements__toggle-buttons
            div.checkbox-buttons
                h3 checkbox buttons
                +checkbox('Можно курить', 'smokingAllowed')
                +checkbox('Можно с питомцами', 'petsAllowed')
                +checkbox('Можно пригласить гостей (до 10 человек)', 'guestsAllowed')
            div.radio-buttons
                h3 radio buttons
                .radio-buttons__wrapper
                    +radio_button('Мужчина', 'gender')
                    +radio_button('Женщина', 'gender')
                h3 toggle
                +checkbox_slider('Получать спецпредложения')
            div.like-buttons
                h3 like button
                +like_button(2)
            div.rate-button
                h3 rate button
                +rate_button
        div.form-elements__buttons
            div.range-slider
                +range_slider
            div.buttons-simple
                h3 buttons
                div.buttons
                    +button_filled('click me', false)
                    +button_filled('click me', true)
                div.buttons
                    +button_border('click me', false)
                    +button_border('click me', true)
                div.buttons
                    +button_plain_text('click me', false)
                    +button_plain_text('click me', true)
                div.button-wide
                    +button_wide('перейти к оплате', false)
            div.pagination-bar
                    h3 pagination
                    +pagination
    section.form-elements
        div.expandable-checkbox
            +checkbox-expandable
        div.rich-checkbox-buttons
            h3 rich checkbox buttons
            +rich_checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor')
            +rich_checkbox('Помощник для инвалидов', 'На 1 этаже Вас встретит специалист  и проводит до номера.', 'helper')
        div.bullet-list
            h3 bullet list
            +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия - после 13:00, а выезд до 12:00'])
    section.benefits-and-comments
        div.hotel-benefits
            +benefit('Комфорт', 'Шумопоглощающие стены', '/src/images/smile_icon.svg')
            +benefit('Удобство', 'Окно в каждой из спален', '/src/images/city_icon.svg')
        div.comments
            +comment('/src/images/avatar.svg', 'Мурад Сарафанов', '5 дней назад', 11, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
    section.forms
        +room-finder-form
        +registration-form
        +login-form







    block scripts

