@import "colors-fonts/colors.scss";
@import "colors-fonts/fonts.scss";
@import "form-elements/text_field/text-field.scss";
@import "form-elements/dropdown_rooms/dropdown_rooms";
@import "form-elements/dropdown_guests/dropdown_guests.scss";
@import "form-elements/masked_date_input/masked_date_input.scss";
@import "form-elements/dropdown_date/dropdown_date.scss";

body {
  background-color: #E5E5E5;
}

.colors-fonts {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 145px 150px;
  margin-bottom: 100px;
}

.form-elements {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  padding: 145px 150px;
  margin-bottom: 100px;

  &__inputs {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
  }
}
