@import "../../../variables";

.button-filled {
  background: $purple-gradient;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 99px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 22px;

  &:active {
    box-shadow: 1px 1px 2px $dark-shade75;
  }

  &:disabled, &:hover {
    opacity: .9;
  }
}