@import "../../variables.scss";

.text_input_block {
  margin-bottom: 20px;

  &__input {
    width: 320px;
    height: 44px;
    border-radius: 4px;
    padding-left: 13px;
    color: $dark-shade75;
    border: 1px solid $dark-shade25;
    outline: none;

    &::placeholder {
      color: $dark-shade25;
    }

    &:hover {
      box-shadow: 0 0 2px $dark-shade75;
    }
    &:focus {
      box-shadow: 0 0 2px $dark-shade75;
    }
  }
}