mixin benefit(benefit, description, icon)
    .benefit
        img.benefit__img(src=icon)
        .benefit__text
            span.benefit__text-benefit #{benefit}
            span.benefit__text-description #{description}
    hr