mixin dropdown-guests-input
    .dropdown_guests
        label
            input.dropdown_guests__input-total(type='text', readonly='', placeholder='Сколько спален, кроватей...')
        .dropdown_guests__options
            .dropdown_guests__options-bedrooms
                span.dropdown_guests__options-description спальни
                .dropdown_guests__options-counter
                    button.btn-minus.btn-minus-rooms -
                    label.dropdown_guests__options__number-label
                        input.dropdown_guests__options__count-bedrooms(type='number', readonly='', value='0', min='0', max='999')
                    button.btn-plus.btn-plus-rooms +
            .dropdown_guests__options-beds
                span.dropdown_guests__options-description кровати
                .dropdown_guests__options-counter
                    button.btn-minus.btn-minus-beds -
                    label.dropdown_guests__options__number-label
                        input.dropdown_guests__options__count-beds(type='number', readonly='', value='0', min='0', max='999')
                    button.btn-plus.btn-plus-beds +
            .dropdown_guests__options-bathrooms
                span.dropdown_guests__options-description ванные комнаты
                .dropdown_guests__options-counter
                    button.btn-minus.btn-minus-bathrooms -
                    label.dropdown_guests__options__number-label
                        input.dropdown_guests__options__count-bathrooms(type='number', readonly='', value='0', min='0', max='999')
                    button.btn-plus.btn-plus-bathrooms +