@import "../../variables.scss";
@import "../../mixins.scss";

$guests-options-adults: "dropdown_guests__options-adults";
$guests-options-kids: "dropdown_guests__options-kids";
$guests-options-infants: "dropdown_guests__options-infants";
$guests-count-adults: "dropdown_guests__options__count-adults";
$guests-count-kids: "dropdown_guests__options__count-kids";
$guests-count-infants: "dropdown_guests__options__count-infants";
$btn-minus: "btn-minus";
$btn-plus: "btn-plus";

.dropdown_guests {
  @include dropdown_options(320px, 158px, $guests-options-adults, $guests-options-kids, $guests-options-infants, $guests-count-adults, $guests-count-kids, $guests-count-infants, $btn-minus, $btn-plus);

  .dropdown_guests_clear-submit-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    &__clear {
      background-color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      color: $dark-shade50;
      padding: 0;
      font-size: 15px;
      font-weight: bold;
    }

    &__submit {
      background-color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      color: $purple;
      padding: 0;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
