@import "../../variables.scss";

.dropdown_guests {
  width: 266px;
  max-width: 266px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  &:after {
    content: '';
    background-image: url("../images/v_arrow.svg");
    width: 13px;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 19px;
    color: $dark-shade5;
    pointer-events: none;
  }

  &__input-total {
    width: 100%;
    height: 44px;
    border: 1px solid $dark-shade50;
    color: $dark-shade75;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    padding: 12px 0 7px 15px;
    cursor: pointer;
    outline: none;
  }

  &__options {
    display: none;
    position: absolute;
    top: 44px;
    width: 100%;
    height: 119px;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $dark-shade50;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 7px 7px 7px 15px;
    font-size: 12px;
    background-color: #fff;

    &-description {
      text-transform: uppercase;
      font-weight: bold;
    }

    &-counter {
      display: flex;
      width: 92px;
      height: 30px;
      align-items: center;
      justify-content: space-between;
    }

    &__number-label {
      overflow: hidden;
      width: 15px;
    }
  }
}

.options-shown {
  display: flex;
}

.dropdown_guests__options-bedrooms, .dropdown_guests__options-beds, .dropdown_guests__options-bathrooms {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dropdown_guests__options-bathrooms {
  margin-bottom: 0;
}

.dropdown_guests__options__count-bedrooms, .dropdown_guests__options__count-beds, .dropdown_guests__options__count-bathrooms {
  width: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  cursor: auto;
  overflow: hidden;
  padding: 0 9px 0 0;
  text-align: center;
}

.btn-minus, .btn-plus {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $dark-shade25;
  background-color: #fff;
  outline: none;
  padding: 0;
}

.btn-minus[disabled], .btn-plus[disabled] {
  opacity: .5;
}