mixin fonts_block
    div.fonts_mixin
        h1.fonts_mixin__element-h1 This one is the sub-section or widget title
        h2.fonts_mixin__element-h2 Next one is the item title inside widgets
        h3.fonts_mixin__element-h3 this is a label or cta text
        span.fonts_mixin__element-span This is the body text which is used for most of the design, like paragraphs, lists, etc.