.masked_date_input_block {
  margin-bottom: 20px;

  &__title {
    text-transform: uppercase;
  }

  &__input {
    width: 320px;
    height: 44px;
    border-radius: 4px;
    padding-left: 13px;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:hover {
      box-shadow: 0 0 2px rgb(31, 32, 65);
    }
    &:focus {
      box-shadow: 0 0 2px rgb(31, 32, 65);
    }
  }
}