mixin masked_date_input(title)
    div.masked_date_input_block
        h3.masked_date_input_block__title #{title}
        input.masked_date_input_block__input(data-inputmask="'alias': 'date'", placeholder='dd/mm/yyyy')