@import "../../mixins.scss";

.login-form {
  @include form();

  &__heading {
    margin-bottom: 20px;
  }

  &__register {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}